div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 2vh;
}

h1{
    color: var(--primary-color);
    margin-bottom: 20vh;
}

.h2, .h3, .btn-cruds{
    margin-bottom: 5vh;
    color: white;
}

.h2-dark, .h3-dark{
    margin-bottom: 5vh;
    color: black;
}

.button{
    margin-bottom: 1vh;
    background-color: white;
    border-radius: 10ch;
    width: 30ch;
    font-weight: 500;
}

.button-dark{
    margin-bottom: 1vh;
    background-color: #212529;
    color: white;
    border-radius: 10ch;
    width: 30ch;
    font-weight: 500;
}


img{
    max-width: 100%;
    height: 20vh;
}

.contenedor{
    background-color: #212529;
}

.contenedor-light{
    background-color: white;
}
