<div class="header">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg expandir">
        <!--Lo hace responsive al navbar-->
        <button class="navbar-toggler black" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" [routerLink]="['landing']" (click)="cambiarLogueo('guest'); $event.preventDefault()">
            <img src="/assets/images/logo.png" alt="logo" width="80px">
            <h1>Chilling Dogs</h1>
        </a>
        <ng-container *ngIf="tipoLogueo == 'guest'">
          <div class="centrar">
              <div class="collapse navbar-collapse" id="navbar"> <!--Contiene el responsive de los elementos-->
                  <ul class="navbar-nav mx-auto">
                      <li class="nav-item enlacesSecciones"><a href="#sobreNosotros" class="nav-link">Sobre Nosotros</a></li>
                      <li class="nav-item enlacesSecciones"><a href="#servicios" class="nav-link">Nuestros Servicios</a></li>
                      <li class="nav-item enlacesSecciones"><a href="#casosDeExito" class="nav-link">Casos de éxito</a></li>
                  </ul>
              </div>

              <div class="collapse navbar-collapse derecha" id="navbar2">
                  <ul class="navbar-nav">
                      <li class="nav-item" ><button class="iniciarSesion" [routerLink]="['login']" (click)="cambiarLogueo('cliente')">Iniciar Sesión</button></li>
                      <li class="nav-item"><button class="registrarse" [routerLink]="['login']" (click)="cambiarLogueo('cliente')">Registrarse</button></li>
                  </ul>
              </div>
            </div>
        </ng-container>
        <ng-container *ngIf="tipoLogueo == 'vet'">
            <div class="collapse navbar-collapse centrar-vet" id="navbar"> <!--Contiene el responsive de los elementos-->
                <ul class="navbar-nav navigation">
                    <li class="nav-item enlacesSecciones">
                        <a class="button bg-dark" [routerLink]="['mascotas/buscar']" (click)="cambiarLogueo('vet')">
                            <img src="/assets/images/mascotas-vet-option.png">
                            <div class="logout">Mascotas</div>
                        </a>
                    </li>
                    <li class="nav-item enlacesSecciones">
                        <a class="button bg-dark" [routerLink]="['clientes/buscar']" (click)="cambiarLogueo('vet')">
                            <img src="/assets/images/clientes-vet-option.png">
                            <div class="logout">Clientes</div>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </nav>
</div>
