main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    min-height: 50vh;
    margin-top: 2em;
}

.contenedorForm{
    background-color: var(--color-4);
    width: 100%;
    height: 30%;
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenedorForm-light{
    background-color: #171A1FFF;
    width: 100%;
    height: 30%;
    padding: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;

    input{
        background-color: #171A1FFF;
        border-color: white;
        color: white;
    }

    select{
        background-color: #171A1FFF;
        border-color: white;
        color: white;
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
}

#contenedorBoton{
    width: 10em;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        text-align: center;
        padding: 1em;
    }
}


td{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

// button {
//     height: 2.5em;
//     padding: 0 20px;
//     line-height: 30px;
//     font-weight: 500;
//     color: var(--color-3);
//     background: var(--secondary-color);
//     border: none;
//     border-radius: 10px;
//     width: fit-content;
//     margin-top: 0;
//     font-size: small;
//     margin-bottom: 40px;
// }

#activo {
    opacity: 1;
    background: green;
}

.fotoRegistro {
    height: 90%;
    width: 90%;
}

#contenedorimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    padding-left: 1em;
    height: 2em;
    border-radius: 15px;
    width: 100%;
}

.btnRegistro{
    margin-top: 1em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Chewy;
    font-size: 25px;
    line-height: 56px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: #171A1FFF;
    opacity: 1;
    border: none;
    border-radius: 30px;
    width: 18em;
    margin-bottom: 20px;

    &:hover{
        background-color: #FFFFFFFF;
        color: #171A1FFF;
    }
}

.btnRegistro-light{
    margin-top: 1em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Chewy;
    font-size: 25px;
    line-height: 56px;
    font-weight: 400;
    color: #171A1FFF;
    background: #FFFFFFFF;
    opacity: 1;
    border: none;
    border-radius: 30px;
    width: 18em;
    margin-bottom: 20px;

    &:hover{
        background-color: #171A1FFF;
        color: #FFFFFFFF ;
    }
}

table{
    margin-right: 3em;
}

/*Estado activo inactivo del perro*/

.estadoActivo{
    background-color: #4CE77FFF;
    width: 50%;
    border: none;
    border-radius: 15px;
}

.estadoInactivo{
    background-color: #ff5d60;
    width: 50%;
    border: none;
    border-radius: 15px;
}

/* Estilo por defecto para botones no seleccionados */
.btn-grey {
    background-color: grey;
    color: white;
    border: none;
    width: 50%;
    border-radius: 15px;
}

/* Estilo para botones seleccionados (color verde o rojo) */
.btn-selected-green {
    background-color: green;
    color: white;
    border: none;
    width: 50%;
}

.btn-selected-red {
    background-color: red;
    color: white;
    border: none;
    width: 50%;
}

.btn-group{
    display: flex;
    justify-content: space-around;
}
