button {
    margin-top: 50px;
    width: 15em;
    height: 2.5em;
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--color-3);
    background: var(--secondary-color);
    border: none;
    border-radius: 30px;
  }
  
  section {
    background-color: var(--color-4);
  
    h1 {
      text-align: center;
    }
  
    table {
      width: 50%;
    }
  
    td {
      width: 50%;
    }
  }
  
  #seccionPeludo {
    margin-top: 20px;
  
    h1 {
      margin-top: 40px;
    }
  }
  
  .estadoPeludo {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 50px;
  
    table {
      text-align: start;
      align-content: center;
      margin-left: 50px;
      margin-right: 50px;
  
      td {
        padding: 10px;
        width: fit-content;
  
        button {
          width: fit-content;
          margin-top: 0;
          font-size: small;
          margin-bottom: 0;
          border-radius: 30px;
        }
  
        img {
          margin-right: 0;
          align-content: end;
        }
      }
    }
  
    img {
      margin-right: 60px;
    }
  }
  
  .celdaSinPadding {
    padding-right: 0;
  }
  
  .imagenEstado {
    text-align: right;
  }
  .userImg {
    border-radius: 50%;
    /*Hacer que la imagen se le recorte el sobrante, que no haga cover*/
    object-fit: cover;
  }
  
  .peludo-img {
    max-width: 40vh;
    max-height: fit-content;
  }
  
  .seccionDueno {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .datosDueno {
    display: flex;
    flex-direction: row;
    align-items: end;
  }
  
  .datoDueno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
  }
  
  .espacioEntreDatosArriba {
    margin-top: 20px;
  }
  
  .espacioEntreDatosDer {
    margin-right: 100px;
  }
  
  .datosNumericos {
    display: flex;
    flex-direction: row;
  
    p {
      font-size: medium;
    }
  }
  
  .imagenesDueno {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .imagenDueno {
    height: 200px;
    width: 200px;
    margin-right: 40px;
    margin-left: 40px;
  }
  
  .columnaDosDatos {
    margin-right: 40px;
  }  