
<main id="main">
  <detalle-mascota [mascota]="mascota"></detalle-mascota>
  <detalle-cliente [mascota]="mascota"></detalle-cliente>

  <!-- Si verTratamientos es true, se muestra el botón para ocultar los tratamientos y si es false se muestra el botón para mostrar los tratamientos -->
  <button class="btnTratamientos" (click)="verTratamientos = !verTratamientos">{{verTratamientos ? 'Ocultar' : 'Mostrar'}} tratamientos</button>
  <!-- Si verTratamientos es true, se muestra el componente detalle-tratamientos -->
  <app-tratamientos-mascota *ngIf="verTratamientos"></app-tratamientos-mascota>

  <button class="btnVolver" (click)="goBack()">Volver</button>
</main>
