#dashboard{
    align-items: center;
    text-align: center;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
}

.fill-white {
    fill: white !important; /* Cambia el color de los textos a blanco */
}

.fill-dark {
    fill: rgb(0, 0, 0) !important; /* Cambia el color de los textos a blanco */
}

div{
    margin-bottom: 2vh;
}

.blanco{
    background-color: #212529;
    padding: 5vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blanco-light{
    background-color: #ffffff;
    padding: 5vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.duo{
    width: 60vh;
    height: 45vh;
    margin: 2vh;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-bottom: 5vh;
    width: 100%;
}

.icono{
    width: 80px;
    height: 80px;
    fill: white;
    margin-bottom: 2vh;
}

.icono-dark{
    width: 80px;
    height: 80px;
    fill: #212529;
    margin-bottom: 2vh;
}

.text-light {
    color: white;
}

.text-dark {
    color: black;
}

p{
    font-size: 3rem;
}

.valor{
    font-size: 1.5rem;
}

thead{
    color: var(--color-4);
    font-size: 1.7em;
}

.tbody{
    tr{
        &:nth-child(odd){
            background: white;
        }

        &:nth-child(even){
            background: #c6c6c7;
        }
    }
}

.tbody-dark{
    tr{
        &:nth-child(odd){
            background: black;
            color: white;
        }

        &:nth-child(even){
            background: #212529;
            color: white;
        }
    }
}

.completo{
    width: 90%;
}

.thead{
    color: black !important;
}

.table-bordered-dark{
    border-color:  #000000 !important;
}

