<div id="dashboard">
    <h1 [ngClass]="isModoOscuro ? 'text-dark' : 'text-light'">Hola {{nombreAdministrador}}, mira como va el negocio</h1>
    <div class="horizontal">
        <div class="duo" [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
            <svg class="w-6 h-6" [ngClass]="isModoOscuro ? 'icono' : 'icono-dark'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <rect fill="none" height="24" width="24"/><path d="M11,5.5H8V4h0.5c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1h-3c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1H6v1.5H3c-0.55,0-1,0.45-1,1 c0,0.55,0.45,1,1,1V15c0,1.1,0.9,2,2,2h1v4l2,1.5V17h1c1.1,0,2-0.9,2-2V7.5c0.55,0,1-0.45,1-1C12,5.95,11.55,5.5,11,5.5z M9,9H7.25 C6.84,9,6.5,9.34,6.5,9.75c0,0.41,0.34,0.75,0.75,0.75H9V12H7.25c-0.41,0-0.75,0.34-0.75,0.75c0,0.41,0.34,0.75,0.75,0.75H9L9,15H5 V7.5h4V9z M19.5,10.5V10c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1h-5c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1v0.5c0,0.5-1.5,1.16-1.5,3V20 c0,1.1,0.9,2,2,2h4c1.1,0,2-0.9,2-2v-6.5C21,11.66,19.5,11,19.5,10.5z M16.5,10.5V10h1v0.5c0,1.6,1.5,2,1.5,3V14h-4 c0-0.21,0-0.39,0-0.5C15,12.5,16.5,12.1,16.5,10.5z M15,20c0,0,0-0.63,0-1.5h4V20H15z"/> </svg>
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Tratamientos totales:</h3>
            <p id="cantidadTratamientosTotales" [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">{{totalTratamientos}}</p>
        </div>
        <div class="duo" [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
            <svg class="w-6 h-6" [ngClass]="isModoOscuro ? 'icono' : 'icono-dark'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <rect fill="none" height="24" width="24"/><path d="M11,5.5H8V4h0.5c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1h-3c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1H6v1.5H3c-0.55,0-1,0.45-1,1 c0,0.55,0.45,1,1,1V15c0,1.1,0.9,2,2,2h1v4l2,1.5V17h1c1.1,0,2-0.9,2-2V7.5c0.55,0,1-0.45,1-1C12,5.95,11.55,5.5,11,5.5z M9,9H7.25 C6.84,9,6.5,9.34,6.5,9.75c0,0.41,0.34,0.75,0.75,0.75H9V12H7.25c-0.41,0-0.75,0.34-0.75,0.75c0,0.41,0.34,0.75,0.75,0.75H9L9,15H5 V7.5h4V9z M19.5,10.5V10c0.55,0,1-0.45,1-1c0-0.55-0.45-1-1-1h-5c-0.55,0-1,0.45-1,1c0,0.55,0.45,1,1,1v0.5c0,0.5-1.5,1.16-1.5,3V20 c0,1.1,0.9,2,2,2h4c1.1,0,2-0.9,2-2v-6.5C21,11.66,19.5,11,19.5,10.5z M16.5,10.5V10h1v0.5c0,1.6,1.5,2,1.5,3V14h-4 c0-0.21,0-0.39,0-0.5C15,12.5,16.5,12.1,16.5,10.5z M15,20c0,0,0-0.63,0-1.5h4V20H15z"/> </svg>
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Tratamientos del ultimo mes:</h3>
            <p [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">{{totalTratamientosMes}}</p>
        </div>
    </div>
    <div [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
        <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Medicamentos administrados en el último mes</h3>
        <ngx-charts-bar-vertical [ngClass]="isModoOscuro ? 'fill-white' : 'fill-dark'"
            [view]="view"
            [scheme]="colorScheme"
            [results]="dataMedicamentosMes"
            [gradient]="false"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [legend]="showLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="false">
        </ngx-charts-bar-vertical>
    </div>
    <div class="horizontal">
        <div [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Veterinarios Activos e inactivos</h3>
            <ngx-charts-pie-chart [ngClass]="isModoOscuro ? 'fill-white' : 'fill-dark'"
                [view]="view"
                [scheme]="colorScheme"
                [results]="dataVets"
                [gradient]="gradient"
                [legend]="showLegend" 
                [legendTitle]="legendTitle2"
                [labels]="true"
                [doughnut]="false">
            </ngx-charts-pie-chart>
        </div>
    </div>
    <div class="horizontal">
        <div [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Mascotas Activas e inactivas</h3>
            <ngx-charts-pie-chart [ngClass]="isModoOscuro ? 'fill-white' : 'fill-dark'"
                [view]="view"
                [scheme]="colorScheme"
                [results]="dataMascotas"
                [gradient]="gradient"
                [legend]="showLegend"
                [legendTitle]="legendTitle3"
                [labels]="true"
                [doughnut]="false">
            </ngx-charts-pie-chart>
            <p [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Total de mascotas = {{totalMascotas}}</p>
        </div>
    </div>
    <div class="horizontal">
        <div class="duo" [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'"> 
            <svg class="w-6 h-6" [ngClass]="isModoOscuro ? 'icono' : 'icono-dark'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87c1.96 0 2.4-.98 2.4-1.59c0-.83-.44-1.61-2.67-2.14c-2.48-.6-4.18-1.62-4.18-3.67c0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87c-1.5 0-2.4.68-2.4 1.64c0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"/></svg>
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Ventas totales:</h3>
            <p class="valor" [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">{{ ventas | currency:'':'symbol':'1.0-0' }}</p>
        </div>
        <div class="duo" [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
            <svg class="w-6 h-6" [ngClass]="isModoOscuro ? 'icono' : 'icono-dark'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87c1.96 0 2.4-.98 2.4-1.59c0-.83-.44-1.61-2.67-2.14c-2.48-.6-4.18-1.62-4.18-3.67c0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87c-1.5 0-2.4.68-2.4 1.64c0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"/></svg>
            <h3 [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">Ganancias:</h3>
            <p class="valor" id="cantidadGananciasTotales" [ngClass]="isModoOscuro ? 'text-light' : 'text-dark'">{{ganancias | currency:'':'symbol':'3.0'}}</p>
        </div>
    </div>
    <div class="completo" [ngClass]="isModoOscuro ? 'blanco' : 'blanco-light'">
        <table class="table" [ngClass]="isModoOscuro ? 'table-bordered' : 'table-bordered-dark'">
            <thead [ngClass]="isModoOscuro ? 'thead-dark' : 'thead'">
                <tr>
                    <th>Top medicamentos</th>
                </tr>
            </thead>
            <tbody [ngClass]="isModoOscuro ? 'tbody' : 'tbody-dark'">
                <tr *ngFor="let medicamento of topMedicamentos; let i = index">
                    <td>{{i+1}}. {{medicamento}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

