<main>
  <div *ngIf="tratamientos.length == 0" class="contenedor mt-3">
    <h2>No hay tratamientos</h2>
  </div>
  <!-- Tabla que contiene los tratamientos de una mascota: foto y nombre veterinario, nombre droga y fecha del tratamiento -->
  <div *ngIf="tratamientos.length > 0" class="contenedorTabla mt-3">
    <table class="table" id="tablaTratamientos">
      <thead>
      <tr>
        <th scope="col">Veterinario</th>
        <th scope="col">Droga suministrada</th>
        <th scope="col">Fecha</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tratamiento of tratamientos">
        <td *ngIf="tratamiento.veterinario">
          <img [src]="tratamiento.veterinario.foto" [alt]="tratamiento.veterinario.foto" height="40px" width="40px" class="usuario-img">
          {{tratamiento.veterinario.nombre}}
        </td>
        <td *ngIf="!tratamiento.veterinario">
          Veterinario eliminado
        </td>
        <td *ngIf="tratamiento.droga">{{tratamiento.droga.nombre}}</td>
        <td *ngIf="!tratamiento.droga">Droga eliminada</td>
        <td>{{tratamiento.fecha | date: 'dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <button id="btnVolver" (click)="goBack()">Volver</button>
</main>


