.admin-container {
    display: grid;
    grid-template-columns: 30% 70%; /* Define que la primera columna sea 30% y la segunda 70% */
    height: 100vh; 
    margin: 0%;
}

admin-dashboard {
    background-color: var(--primary-color);
}