<div class="card">
    <p-carousel
      [value]="mascotas" 
      [numVisible]="1" 
      [numScroll]="1" 
      [circular]="false" 
      [responsiveOptions]="responsiveOptions">
      <ng-template let-mascota pTemplate="item">
        <div class="centrar">
            <img 
                [src]="mascota.foto"
                [alt]="mascota.nombre"  />
            <div>
                <p>Nombre: {{ mascota.nombre }}</p>
                <p>Raza: {{ mascota.raza }}</p>
                <p>Estado: {{ mascota.estado }}</p>
                <br><br>
                <p>Da click para ver detalles</p>
            </div>
        </div>
      </ng-template>
    </p-carousel>
</div>