img{
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.centrar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10ch;
}

p{
    text-align: center;
}

.card {
    background-color: var(--secondary-color);
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
    width: 50px; // Ajusta según necesites
    height: 50px; // Ajusta según necesites
    font-size: 20em; // Ajusta el tamaño del icono
    background-color: #6cdbf7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        text-emphasis: bolder;
        font-size: 20px;
    }
}

.datos{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2ch;
    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2ch;
    }
}

a {
    color: var(--text-dark);
    text-decoration: none;
}
