<main>
    <div class="contenedorError">
        <div class="tituloError">
            <h1>Algo salió mal :(</h1>
            <!--<h3 th:text="'Error ' + ${statusCode} + ': ' + ${errorMessage}"></h3>-->
            <h3>Error 404</h3>
        </div>
        <div class="descripcionError">
            <p>Lo sentimos, pero no pudimos encontrar la página que estás buscando.</p>
            <p>Por favor, verifica la URL e inténtalo de nuevo.</p>
            <button class="present-button" (click)="goBack()">Vuelve a la página anterior</button>
        </div>
    </div>
    <img src="/assets/images/sad-dog-error.png" alt="Tristeza Perruna Error">
</main>
