<h1>!Mira los tratamientos de {{mascota.nombre}}!</h1>
<main>
    <div class="contenedorTabla">
        <table class="table" id="tablaMascotas">
            <thead>
            <tr>
                <th scope="col">Medicamento</th>
                <th scope="col">Veterinario</th>
                <th scope="col">Fecha</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tratamiento of tratamientos">
                <td>
                    {{tratamiento.droga!.nombre}}
                </td>
                <td>
                    {{tratamiento.veterinario!.nombre}}
                </td>
                <td>{{tratamiento.fecha}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/login"><button id="btnVolver">Volver</button></a>
</main>

