<app-header [landing]="true"></app-header>
<div class="main">
    <section id="presentacion" class="seccionDorada">
        <span class="descripcionPresentacion">
            <h1>Tu mascota tranqui, sana y en manos de los cracks del cuidado animal</h1>
            <p>Queremos que tus lomitos estén siempre fresh y felices, en un lugar seguro y cozy para recuperarse y recibir su tratamiento.</p>
            <button class="present-button" onclick="window.location.href='/login'">Chécate nuestros Servicios</button>
        </span>
        <div class="imagenesPresentacion">
            <img src="../../../assets/images/perro-presentacion-no-bg.png" alt="Perro" id="perro">
        </div>
    </section>

    <section id="sobreNosotros" class="seccionAzul">
        <div class="tituloNosotros">
            <img src="../../../assets/images/hueso-rotated.png" alt="Huesito fasha">
            <h1>¿Usted no sabe quiénes somos nosotros...?</h1>
            <img src="../../../assets/images/hueso.png" alt="Huesito fasha">
        </div>
        <div class="contenedorNosotros">
            <span class="descripcionNosotros">
                <div class="textoNosotros">
                    <h2>Full confiables en lo que hacemos</h2>
                    <p><br>El nombre Chilling Dogs refleja nuestra onda: un lugar donde tus perros están chill y seguros mientras reciben el mejor cuidado.<br>Ya sea que necesiten hospitalización, un chequeo o un tratamiento especial, estamos aquí para tus peluditos y para ti, dándote la tranquilidad de saber que están en buenas manos.</p>
                </div>
                <img src="../../../assets/images/corgi-points.png" alt="Puntos en forma rectangular" class="imagenNosotros">
            </span>
            <span class="descripcionNosotros">
                <img src="../../../assets/images/dogtor-points.png" alt="Dogtor calidoso" class="imagenNosotros">
                <div class="textoNosotros">
                    <h2>Nuestro team de profesionales</h2>
                    <p><br>En Chilling Dogs, empezamos con la idea de mejorar la vida de tus lomitos y ahora somos los cracks en atención veterinaria.<br>Nuestro team de veterinarios y el personal dedicado, trabajan a full para darte un servicio de excelencia, siempre poniendo primero la salud y la felicidad de tus mascotas.</p>
                </div>
            </span>
        </div>
    </section>

    <section id="servicios" class="seccionDorada">
        <div class="tituloServicios">
            <svg class="medkit w-6 h-6" fill="#686583" id="Flat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <path d="M216,64H176V56a24,24,0,0,0-24-24H104A24,24,0,0,0,80,56v8H40A16,16,0,0,0,24,80V208a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V80A16,16,0,0,0,216,64Zm-64,88H136v16a8,8,0,0,1-16,0V152H104a8,8,0,0,1,0-16h16V120a8,8,0,0,1,16,0v16h16a8,8,0,0,1,0,16Zm8-88H96V56a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z"/>
            </svg>
            <h1>Se le tiene...</h1>
            <svg class="medkit w-6 h-6" fill="#686583" id="Flat" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
                <path d="M216,64H176V56a24,24,0,0,0-24-24H104A24,24,0,0,0,80,56v8H40A16,16,0,0,0,24,80V208a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V80A16,16,0,0,0,216,64Zm-64,88H136v16a8,8,0,0,1-16,0V152H104a8,8,0,0,1,0-16h16V120a8,8,0,0,1,16,0v16h16a8,8,0,0,1,0,16Zm8-88H96V56a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8Z"/>
            </svg>
        </div>
        <div id="contenedorServicios">
            <span class="descripcionServicio">
                <img src="../../../assets/images/hospitalizacion.jpeg" alt="hospitalizacion">
                <h2>Hospitalización</h2>
                <p>Cuidados intensivos y monitoreo constante.</p>
            </span>
            <span class="descripcionServicio">
                <img src="../../../assets/images/consulta-general.jpeg" alt="consultas Generales">
                <h2>Consultas Generales</h2>
                <p>Evaluaciones de salud y chequeos regulares.</p>
            </span>
            <span class="descripcionServicio">
                <img src="../../../assets/images/vacunacion.jpeg" alt="vacunacion">
                <h2>Vacunación</h2>
                <p>Protección contra enfermedades comunes.</p>
            </span>
        </div>
        <div id="btnServicios"><button onclick="window.location.href='/login'">Ver más servicios</button></div>
    </section>

    <section id="casosDeExito" class="seccionAzul">
        <div class="tituloCasos">
            <h1>Historias de nuestros peludos</h1>
        </div>
        <div class="container-carrusel" *ngIf="resenias.length > 0">
            <p-carousel
                [value]="resenias"
                [numVisible]="3"
                [numScroll]="1"
                [circular]="true"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-resenia pTemplate="item">
                  <div class="card border-1 m-2">
                    <!-- Foto de la mascota -->
                    <div class="mb-3">
                      <img
                        [src]="resenia.fotoMascota"
                        [alt]="resenia.nombreMascota"
                        class="peludo-carrusel" />
                    </div>
                    <!-- Dueño de la mascota -->
                    <div class="d-flex align-items-center mb-2">
                      <img
                        [src]="resenia.fotoDuenio"
                        [alt]="resenia.nombreDuenio"
                        class="usuario-resenia" />
                      <div class="fw-medium fs-6">
                        {{ resenia.nombreDuenio }}
                      </div>
                    </div>
                    <!-- Reseña de la mascota -->
                    <div class="mb-2 mr-3">
                      <p>{{ resenia.txtResenia }}</p>
                    </div>
                  </div>
                </ng-template>
            </p-carousel>
        </div>
    </section>

    <img [src]="imagenChat" alt="Chat" class="imagenChat" (click) = "openChat()">
    <app-chatbot [visible]="chatAbierto"></app-chatbot>
</div>
