body {
    position: relative;
    min-height: 100vh; /*Que ocupe toda la pantalla, para que el footer se quede abajo*/
    width: 100%;
    height: 100%;
    padding-bottom: 13em;
    background-color: #212529 !important;
}

body.no-footer {
    padding-bottom: 0 !important; /* Quitar el padding cuando la clase no-footer está presente */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chewy';
}

.black{
    background-color: var(--text-dark);
}

.centrar{
    display: flex;
    justify-content: center;
    width: 70%;
}

.derecha{
    display: flex;
    justify-content: end;
    margin-right: 20px;
}

.main{
    margin-top: 121.98px;
}

section {
    scroll-margin-top: 100px; /* Para que el header no cubra al navegar entre secciones */
}

.seccionDorada{
    background: var(--primary-color);
}

.seccionAzul {
    background: var(--secondary-color);
    padding: 40px 0;
}

#presentacion {
    display: flex;
    justify-content: space-between;
}

.descripcionPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    width: 70%;
}

#presentacion h1{
    font-size: 64px;
    line-height: 84px;
    font-weight: 400;
    color: var(--text-dark);
}

#presentacion p{
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: var(--text-dark);
    font-weight: normal;
    margin: 20px 0;
}

.present-button{
    width: 444px;
    height: 66px;
    padding: 0 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: var(--text-light);
    background: var(--text-dark);
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

.present-button:hover{
    background-color: white;
    color: var(--text-dark);
}

.imagenesPresentacion {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
}

#perro {
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-self: flex-end;
    justify-self: flex-end;
}

.tituloNosotros{
    display: flex;
    justify-content: space-between;
}

.tituloNosotros {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.tituloNosotros h1{
    width: 750px;
    font-size: 56px;
    line-height: 84px;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
    justify-self: center;
    padding-top: 10px;
}

.contenedorNosotros{
    margin: 0px 140px;

    h2 {
        font-size: 40px;
    }
}

.descripcionNosotros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 60px 150px;
}

.imagenNosotros {
    width: 30%;
    border-radius: 8px;
}

.textoNosotros {
    width: 58%;
}

.textoNosotros p {
    margin: 0;
}

#casosDeExito {
    background-image: url('../../../assets/images/paws-bg.png');
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloCasos h1 {
    margin-bottom: 50px;
    font-size: 56px;
}

/* Wrapper Styles */
.wrapperExito {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 68%;
    background-color: transparent;
    margin-bottom: 40px;
}

.flechaWrapper {
    margin: 60px;
    fill: var(--text-dark);
}

.cardExito {
    background-color: transparent;
    border-radius: 15px;
    max-width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.comentario {
    text-align: left;
    padding: 40px;
}

.usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.usuario-resenia {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  object-fit: cover;
}

.usuario-nombre {
    font-weight: 600;
    margin: 0;
}

.comentario-texto {
    font-style: italic;
    color: #333;
    text-align: center;
}

.medkit{
    width: 132px;
    height: 132px;
    fill: var(--text-dark);
}

.tituloServicios{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloServicios h1{
    width: 590px;
    font-size: 64px;
    line-height: 84px;
    font-weight: 700;
    color: var(--text-dark);
    text-align: center;
}

.descripcionServicio{
    width: 345px;
    height: 349px;
    background: #FFFBDFCC;
    border-radius: 8px;
    box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
}

.descripcionServicio img{
    width: 100%;
    height: 231px;
    border-radius: 8px 8px 0px 0px;
    object-fit: cover;
}

#contenedorServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

#contenedorServicios h2{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: var(--text-dark);
    margin-left: 30px;
}

#contenedorServicios p{
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323743FF;
    margin-left: 30px;
}

#btnServicios{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

#servicios button{
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFFFF;
    background: var(--text-dark);
    opacity: 1;
    border: none;
    border-radius: 30px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}

#servicios button:hover{
    background-color: white;
    color: var(--text-dark);
}

.centrar-vet {
    display: flex;
    justify-content: center;
    width: 70%;
    margin-right: 18vw;
}

#contenedorCasos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

//
p-carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    text-align: center;
}

:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
    width: 50px; // Ajusta según necesites
    height: 50px; // Ajusta según necesites
    font-size: 20em; // Ajusta el tamaño del icono
    background-color: #6cdbf7;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p{
        text-emphasis: bolder;
        font-size: 20px;
    }
}

.datos{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2ch;

    img{
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2ch;
    }
}

.imagenChat {
    width: 64px;
    height: 64px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 15px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.imagenChat:hover {
    transform: scale(1.1);
}

.imagenChat:active {
    transform: scale(0.9);
    transform: rotate(90deg);
}