<div class="main">
    <section class="login-black">
        <form  (ngSubmit)="onSubmit()" method="get">
            <div class="type-user-buttons">
                <button class="type-button-selected">Cliente</button>
                <button class="type-button" (click)="goToMascotas()">Veterinario</button>
                <button class="type-button">Administrador</button>
            </div>
            <div class="login-part">
                <h1>Iniciar Sesión</h1>

                <label for="cedulaTxt">Cedula</label>
                <input type="number" id="cedulaTxt" name="cedulaTxt" maxlength="10" [(ngModel)]="cedula" required>
                <button type="submit" class="login-button">Iniciar Sesión</button>
            </div>
        </form>
    </section>
    <section class="login-image">
        <img src="/assets/images/login-dog.png" alt="Login Dog">
    </section>
</div>
