.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 100h;

    table{
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        width: 100%;
        margin-top: 1em;
    }

    thead{
        background: var(--color-3);
        color: var(--color-4); 
        font-size: 1.7em;
    }

    tbody{
        tr{
            &:nth-child(odd){
                background: var(--color-4);
            }

            &:nth-child(even){
                background: var(--color-6);
            }
        }
    }
}

.main-light{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 100h;

    table{
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        width: 100%;
        margin-top: 1em;
    }

    thead{
        background: var(--color-4);
        color: var(--color-3);
        font-size: 1.7em;
    }

    tbody{
        tr{
            &:nth-child(odd){
                background: var(--color-4);
            }

            &:nth-child(even){
                background: var(--color-6);
            }
        }
    }
}

td{
    vertical-align: middle;
    padding: 2em;
    justify-content: center;

    input[type="checkbox"]:checked{
        background-color: #bc711c;
        border-color: #bc711c;
    }

    input[type="checkbox"]:disabled{
        opacity: 1; /* Eliminar el efecto de opacidad */
        cursor: not-allowed; /* Indica que está deshabilitado */
    }
}

.seccionCliente{
    background-color: #EDFBFF;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin: 3em;
    border-style: solid;
    border-color: #16191e;
}

.seccionCliente-light{
    background-color: #16191e;
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin: 3em;
    border-style: solid;
    border-color: #EDFBFF;
    color: white;
}

#datosCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    padding-left: 3.5em;
    padding-top: 3.5em;
    padding-bottom: 3.5em;

    img{
        width: 10em;
        height: 10em;
    }
}

#infoCliente{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 2em;
    flex-wrap: wrap;

    span{
        width: 50%;
        overflow-wrap: break-word;
    }
}

.huesoTabla{
    fill: #DB8421FF;
}

.contenedorTabla{
    width: 80%;
}

.contenedorBoton{
    margin-top: 0.2em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Chewy;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    color: #171A1FFF;
    background-color: #FFFFFFFF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    width: 5em;
    margin-right: 75px;
    margin-left: 75px;

    button{
        color:  #171A1FFF;
        background-color: #FFFFFFFF;
        border: 0px;
    }
}

.contenedorBoton-light{
    margin-top: 0.2em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Chewy;
    font-size: 40px;
    line-height: 56px;
    font-weight: 400;
    color:  #FFFFFFFF;
    background-color: #171A1FFF;
    opacity: 1;
    border: none;
    border-radius: 4px;
    width: 5em;
    margin-right: 75px;
    margin-left: 75px;

    button{
        color:  #FFFFFFFF;
        background-color: #171A1FFF;
        border: 0px;
    }
}

.botonesAccion{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.botonesAccion-light{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.h2-dark{
    color: black;
}

.h2-light{
    color: white;
}