<main [ngClass]="isModoOscuro ? 'main' : 'main-light'">
    <app-search-bar-veterinario></app-search-bar-veterinario>
    <ng-container *ngIf="veterinario">
      <section [ngClass]="isModoOscuro ? 'seccionCliente' : 'seccionCliente-light'">
          <div id="datosCliente">
              <img src="{{veterinario.foto}}" alt="foto">
              <div id="infoCliente">
                <span>
                    <h2>Cedula</h2>
                    <p>
                        {{veterinario.cedula}}
                    </p>
                </span>
                <span>
                      <h2>Nombre</h2>
                      <p>
                          {{veterinario.nombre}}
                      </p>
                  </span>
                <span>
                      <h2>Contraseña</h2>
                      <p>
                          {{veterinario.contrasena}}
                      </p>
                  </span>
                  <span>
                    <h2>Especialidad</h2>
                    <p>
                        {{veterinario.especialidad}}
                    </p>
                </span>

                <span>
                    <h2>Estado</h2>
                    <button *ngIf="veterinario.estado == 'activo'" class = "estadoActivo">Activo</button>
                    <button *ngIf="veterinario.estado == 'inactivo'" class = "estadoInactivo">Inactivo</button>
                </span>
              </div>
          </div>
      </section>
      <div [ngClass]="isModoOscuro ? 'botonesAccion' : 'botonesAccion-light'">
          <form (click)="eliminarCliente(veterinario.id)">
              <div [ngClass]="isModoOscuro ? 'contenedorBoton' : 'contenedorBoton-light'"><button type="submit">Eliminar</button></div>
          </form>
          <form [routerLink]="['/veterinarios/modificar', veterinario.cedula]">
              <div [ngClass]="isModoOscuro ? 'contenedorBoton' : 'contenedorBoton-light'"><button type="submit">Modificar</button></div>
          </form>
      </div>
    </ng-container>
    <button [ngClass]="isModoOscuro ? 'btnVolver' : 'btnVolver-light'" [routerLink]="['/veterinarios/buscar']">Volver</button>
</main>
